<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
            name="listing[title]" 
            placeholder="Enter title" 
            type="text" 
            class="form-control"
            required
            />
            <div class="valid-feedback">This looks great..!</div>
        </div>
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>    
            <textarea 
            name="listing[description]" 
            class="form-control" required></textarea>
            <div class="invalid-feedback">Add a brief description here.</div>
        </div>
        <div class="mb-3">
            <lable for="description" class="form-label">Category</lable>
            <select name="listing[category]" class="form-select" required>
                <option value="">Select category</option>
                <option value="rooms">Rooms</option>
                <option value="beach">Beach</option>
                <option value="mountain">Mountain</option>
                <option value="forest">Forest</option>
                <option value="villa">Villa</option>
                <option value="pool">Pool</option>
                <option value="camping">Camping</option>
                <option value="farm">Farm</option>
                <option value="arctic">Arctic</option>
                <option value="domes">Domes</option>
                <option value="boats">Boats</option>
            </select>
        </div>
    
        <div class="mb-3">
            <lable for="image" class="form-label">Upload Image</lable>
            <input 
            name="listing[image]" 
            type="file" 
            class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">Price</lable>
                <input 
                name="listing[price]" 
                placeholder="5,000"
                class="form-control"
                required/>
                <div class="invalid-feedback">Please enter a valid price.</div>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input 
                name="listing[country]" 
                placeholder="India" type="text" 
                class="form-control"
                required/>
                <div class="invalid-feedback">Country selection looks invalid.</div>
            </div>
        </div>
        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input 
            name="listing[location]" 
            placeholder="Bodhgaya, Bihar" type="text" 
            class="form-control"
            required/>
            <div class="invalid-feedback">Location should be valid.</div>
        </div>
        <div class="mb-3">
</div>

        <button class="btn btn-dark add-btn mt-2">Add</button>
        <br><br>
    </form>
    </div>
</div>