body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
   height: 5rem;
   background-color: white;
}
.fa-tents{
    color: rgb(241, 82, 82);
    font-size: 2rem;
}

.fa-tents:hover{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 4%;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

.add-btn{
    background-color: rgb(250, 72, 72) !important;
    border: none !important;
}
.editbtn{
    background-color: rgb(250, 72, 72) !important;
    border: none !important;
}

.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.brand-center{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  color: red !important;
  font-size:1.2rem;
}

.navbar-toggler{
  margin-left:auto;
}

@media(max-width:500px){

  .navbar-collapse{
    background:#fff;
    padding:12px;
    border-radius:12px;
    margin-top:10px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
  }

  .navbar-nav .nav-link{
    color:#000 !important;
    padding:10px 0;
    font-weight:500;
  }

  .navbar-nav .nav-link:hover{
    color:#ff385c !important;
  }

}

@media (max-width:768px){

  .navbar-collapse{
    position:absolute;
    top:56px;               
    left:0;
    width:100%;
    background:white;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    z-index:999;
  }

  .navbar-nav .nav-link{
    color:black !important;
    padding:10px 0;
  }
}
